---
const permalink = new URL(Astro.url.pathname, Astro.site).href;
const { title, image, desc, author } = Astro.props;

export interface HeadProps {
  title: string;
  image: string;
  author: string;
  desc: string;
}
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<meta name="description" content={desc} />
<meta name="author" content={author} />

<meta property="og:type" content="website" />
<meta property="og:url" content={permalink} />
<meta property="og:title" content={title} />
<meta property="og:description" content={desc} />
<meta property="og:image" content={image} />

<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={permalink} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={desc} />
<meta property="twitter:image" content={image} />

<link rel="icon" href="/favicon.png" />

<title>{title ? `${title} - purrfection.xyz` : "purrfection.xyz"}</title>
